<div>
    <div class="artist-components pad-med">
        <div class="container container-small">
            <div class="componenet-outer-header flex j-between mb-3">
                <div class="title">
                    <div class="title"><h2 class="dropdown dropdown-line c-primary">Top Artists</h2></div>
                </div>
                <div class="sort flex a-center">
                    <div class="dropdown">Sort By <span>Most Plays</span></div>
                </div>
            </div>
        </div>
        <div class="container container-small scroll-x">
            <div class="flex f-gap-1 scroll-hor card-scroll">
                <div class="artist-component card center flex j-between">
                    <div class="artist-component_basic">
                        <h3 class="title">Mac Demarco</h3>
                        <div class="artist-component_img pad-xs">
                            <img class="circle" src="{{ site.baseurl }}/assets/images/macdem.jpg" alt="">
                        </div>
                        <div class="artist-component_trends flex j-between">
                            <div class="info-title">5.7m plays</div>
                            <div class="trend pos">52.71</div>
                        </div>
                    </div>
                    <div class="artist-component_extra">
                        <div class="graph-placeholder h-100 flex flex-col a-end j-between">
                            <div class="date info-title">7 Feb - 7 Mar</div>
                            <img src="{{ site.baseurl }}/assets/images/artist-graph.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="artist-component card center flex j-between active">
                    <div class="artist-component_basic">
                        <h3 class="title">Bon Iver</h3>
                        <div class="artist-component_img pad-xs">
                            <img class="circle" src="{{ site.baseurl }}/assets/images/bon-iver.jpg" alt="">
                        </div>
                        <div class="artist-component_trends flex j-between">
                            <div class="info-title">2.3m plays</div>
                            <div class="trend pos">22.21</div>
                        </div>
                    </div>
                    <div class="artist-component_extra">
                        <div class="graph-placeholder h-100 flex flex-col a-end j-between">
                            <div class="date info-title">7 Feb - 7 Mar</div>
                            <img src="{{ site.baseurl }}/assets/images/artist-graph.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="artist-component card center flex j-between">
                    <div class="artist-component_basic">
                        <h3 class="title">Surfjan Stevens</h3>
                        <div class="artist-component_img pad-xs">
                            <img class="circle" src="{{ site.baseurl }}/assets/images/surfjan.jpg" alt="">
                        </div>
                        <div class="artist-component_trends flex j-between">
                            <div class="info-title">18.7m plays</div>
                            <div class="trend neg">12.71</div>
                        </div>
                    </div>
                    <div class="artist-component_extra">
                        <div class="graph-placeholder h-100 flex flex-col a-end j-between">
                            <div class="date info-title">7 Feb - 7 Mar</div>
                            <img src="{{ site.baseurl }}/assets/images/artist-graph.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="artist-component card center flex j-between">
                    <div class="artist-component_basic">
                        <h3 class="title">Bon Iver</h3>
                        <div class="artist-component_img pad-xs">
                            <img class="circle" src="{{ site.baseurl }}/assets/images/bon-iver.jpg" alt="">
                        </div>
                        <div class="artist-component_trends flex j-between">
                            <div class="info-title">5.7m plays</div>
                            <div class="trend pos">52.71</div>
                        </div>
                    </div>
                    <div class="artist-component_extra">
                        <div class="graph-placeholder h-100 flex flex-col a-end j-between">
                            <div class="date info-title">7 Feb - 7 Mar</div>
                            <img src="{{ site.baseurl }}/assets/images/artist-graph.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>