<header>
    <div class="container-header">
        <div class="header-content">
            <div class="header-content_left">
                <div class="current-page"><div class="page-view">Home</div></div>
            </div>
            <div class="header-content_right flex">
                <div class="header-artists">
                    <div class="artist">
                        <img src="{{ site.baseurl }}/assets/images/macdem.jpg" alt="" class="circle">
                    </div>
                    <div class="artist">
                        <img src="{{ site.baseurl }}/assets/images/bon-iver.jpg" alt="" class="circle">
                    </div>
                    <div class="artist">
                            <img src="{{ site.baseurl }}/assets/images/surfjan.jpg" alt="" class="circle">
                    </div>
                    <div class="add-artist">
                        <div class="add-circle"></div>
                    </div>
                </div>
                <div class="header-account">
                    <div class="user-icon">
                        <img src="{{ site.baseurl }}/assets/images/capitol.jpg" alt="" class="circle">
                    </div>
                    <div class="user-dropdown"></div>
                </div>
            </div>
        </div>
    </div>
</header>