<div class="main-intro bg-img cover-photo" style="background-image: linear-gradient(180deg, #034889 0%, rgba(6, 84, 158, 0.22) 100%), url('{{ site.baseurl }}/assets/images/years.jpg')">
    <div class="container container-small">
        <div class="intro-filter flex a-center j-between mb-3">
            <div class="page-title">
                <h1 class="white">Catalogue Overview</h1>
            </div>
            <div class="filter-nav">
                <div class="flex">
                    <div class="select">
                        <select>
                            <option value="All Territories">All territories</option>
                            <option value="Africa">Africa</option>
                            <option value="Asia">Asia</option>
                            <option value="Europe">Europe</option>
                            <option value="North America">North America</option>
                            <option value="">South America</option>
                            <option value="Oceania">Oceania</option>
                        </select>
                    </div>
                    <div class="select ml-2">
                        <select>
                            <option value="All Territories">20 vendors</option>
                            <option value="Africa">Africa</option>
                            <option value="Asia">Asia</option>
                            <option value="Europe">Europe</option>
                            <option value="North America">North America</option>
                            <option value="">South America</option>
                            <option value="Oceania">Oceania</option>
                        </select>
                    </div>
                    <div class="select ml-2">
                        <select>
                            <option value="All Territories">Last 30 Days</option>
                            <option value="Africa">Africa</option>
                            <option value="Asia">Asia</option>
                            <option value="Europe">Europe</option>
                            <option value="North America">North America</option>
                            <option value="">South America</option>
                            <option value="Oceania">Oceania</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-4">
            <div class="grid_item">
                <div class="card">
                    <div class="component-intro center">
                        <div class="component-intro_icon mb-3">
                            <img src="{{ site.baseurl }}/assets/icons/plays-icon.svg" alt="">
                        </div>
                        <div class="emph mb-half">73.3m</div>
                        <h3 class="info mb-3">Total Plays</h3>
                        <div class="trend pos">52.71%</div>
                    </div>
                </div>
            </div>
            <div class="grid_item">
                <div class="card">
                    <div class="component-intro center">
                        <div class="component-intro_icon mb-3">
                            <img src="{{ site.baseurl }}/assets/icons/followers-icon.svg" alt="">
                        </div>
                        <div class="emph mb-half">17.1m</div>
                        <h3 class="info mb-3">Total Followers</h3>
                        <div class="trend neg">2.31%</div>
                    </div>
                </div>
            </div>
            <div class="grid_item">
                <div class="card">
                    <div class="component-intro center">
                        <div class="component-intro_icon mb-3">
                            <img src="{{ site.baseurl }}/assets/icons/reach-icon.svg" alt="">
                        </div>
                        <div class="emph mb-half">72.3k</div>
                        <h3 class="info mb-3">Reach</h3>
                        <div class="trend pos">12.23%</div>
                    </div>
                </div>
            </div>
            <div class="grid_item">
                <div class="card">
                    <div class="component-intro center">
                        <div class="component-intro_icon mb-3">
                            <img src="{{ site.baseurl }}/assets/icons/playlist-icon.svg" alt="">
                        </div>
                        <div class="emph mb-half">4.3k</div>
                        <h3 class="info mb-3">Total Playlists</h3>
                        <div class="trend pos">12.34%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>