<div class="sidebar">
    <nav>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="nav-links">
            <li class="active"><a class="active" href="">{% include icon-home.svg %}</a></li>
            <li><a href="">{% include icon-catalogue.svg %}</a></li>
            <li><a href="">{% include icon-artists.svg %}</a></li>
            <li><a href="">{% include icon-products.svg %}</a></li>
            <li><a href="">{% include icon-tracks.svg %}</a></li>
        </ul>
    </nav>    
</div>